<h2 class="session border rounded">新規会員登録</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
<div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>
  <table class="mx-auto border-light">
    <tr>
      <td><%= f.label :表示名 %></td>
      <td><%= f.text_field :name, autofocus: true %></td>
    </tr>
    <tr>
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td>
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </td>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <td><%= f.label :パスワード確認 %></td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </table>
  <div class="text-center actions mt-2">
    <%= f.submit "登録する" %>
  </div><br>
  <% end %>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>