<h3>My page edit</h3>
<%= render 'layouts/massage', obj: @user %>
<%= form_with model: @user, local:true do |f| %>
  <p>image<%= f.file_field :image %></p>
  <p>name<%= f.text_field :name %></p>
  <p>capitan<%= f.text_field :capitan %></p>
  <button><%= f.submit 'Edit' %></button>
  <%= link_to :back do %>
   <button>Back</button>
  <% end %>
<% end %>