<h3 class="title">My page edit</h3>
<%= render 'layouts/massage', obj: @user %>
<table class="mx-auto border-light">
  <%= form_with model: @user, local:true do |f| %>
  <tr>
    <td width="100">image</td>
    <td><%= f.file_field :image %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>capitan</td>
    <td><%= f.text_field :capitan, :size=>"40x5"%></td>
  </tr>
</table>
<div class="text-center">
  <button><%= f.submit 'Edit' %></button>
  <%= link_to :back do %>
   <button>Back</button>
  <% end %>
 <% end %>
</div>