<% breadcrumb :follow %>
<%= breadcrumbs separator: " &rsaquo; " %>
<h3 class="title">follow</h3>

<%= form_with model: @user, url:'follow', local: true do |f| %>
  <% @user.followings.each do |user| %>
    <div class="top">
      <table class="mx-auto border-light">
        <thead>
          <tr>
            <td width="100"></td>
            <td width="100">name</td>
            <td width="100">follow</td>
            <td width="100">follower</td>
            <td width="100"></td>
          </tr>
        </thead>
        <tr>
          <td width="100"><%= attachment_image_tag(user, :image, :fill, 150, 100, format: 'jpeg', fallback: "no_image.jpg") %></td>
          <td width="100"><%= user.name %></td>
          <td width="100"><%= user.followings.count %></td>
          <td width="100"><%= user.followers.count %></td>
          <td width="100"><%= link_to "Show",user_path(user.id) %></td>
        </tr>
      </table><br>
    </div>
  <% end %>
<% end %>