<h3>User in details</h3>
<div class="user_show">
  <p><%= attachment_image_tag(@user, :image, :fill, 150, 100, format: 'jpeg', fallback: "no_image.jpg") %></p>
  <p>name<%= @user.name %></p>
  <p>capitan<%= @user.capitan %></p>
  <p>follow<%= @user.followings.count %></p>
  <p>follower<%= @user.followers.count %></p>
  <%= render 'relationships/follow', user: @user %>
  <p>post
    <% @places.each do |place| %>
      <%= link_to place_path(place) do %>
        <%= place.name %>
      <% end %>
  </p>
  <% end %>
  <br>
  <%= link_to :back do %>
   <button>Back</button>
  <% end %>
  <% if user_signed_in? %>
    <button><%= link_to "Edit", edit_user_path(@user) %></button>
  <% end %>
</div>
