<h2 class="session border rounded">Log in</h2>
<%= form_with model: @user, url: user_session_path, local: true do |f| %>
<%= render 'layouts/massage', obj: @user %>
<div class="container">
  <table class="mx-auto">
    <tr>
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <td><%= f.label :パスワード %></td>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
      <% if devise_mapping.rememberable? %>
      <td></td>
      <td>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </td>
      <% end %>
    </tr>
  </table>
  <div class="text-center actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
