<div class="text-center">
  <div id="place_comment">
    <p>コメント<%= @place.place_comments.count %>件</p>
    <% @place.place_comments.each do |place_comment| %>
    <table class="border-dark mx-auto">
      <tr>
        <td width="200">
          <% if user_signed_in? %>
            <%= link_to user_path(place_comment.user.id), local: true do %>
              <%= attachment_image_tag(place_comment.user, :image, :fill, 100, 75, format: 'jpeg', fallback: "no_image.jpg") %>
              <%= place_comment.user.name %>
            <% end %>
          <% else %>
            <%= attachment_image_tag(place_comment.user, :image, :fill, 100, 75, format: 'jpeg', fallback: "no_image.jpg") %>
            <%= place_comment.user.name %>
          <% end %>
        </td>
        <td width="200"><%= place_comment.created_at.strftime('%Y/%m/%d') %></td>
        <td width="200">
          <div id="star-rate-<%= place_comment.id %>"></div>
          <script>
            $('#star-rate-<%= place_comment.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= place_comment.rate %>,
            });
          </script>  
        </td>
        <td width="300"><%= place_comment.comment %></td>
        <td width="200">
          <% if place_comment.user == current_user %>
            <button class="delete">
              <%= link_to "delete", place_place_comment_path(place_comment.place,place_comment), method: :delete, remote: true, "data-confirm" => "本当に削除しますか?" %>
            </button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table><br>
    <%= paginate @place_comments %><br>
    <!--コメント投稿-->
    <% if user_signed_in? %>
      <div class="new_comment">
        <%= form_with(model:[@place, @place_comment], remote: true) do |f| %>
          <div class="form-group" id="star">
            <%= f.hidden_field :rate, id: :review_star %>
          </div>
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'place_comment[rate]',
              half: true,
            });
          </script>
          <div class="form-group">
            <%= f.text_area :comment, :size=>"70x5", rows:'5',placeholder: "コメントをここに" %>
          </div>
          <button><%= f.submit "送信する" %></button>
        <% end %>
      </div>
     <% end %>
  </div>
</div>