<% breadcrumb :place_edit, @place %>
<%= breadcrumbs separator: " &rsaquo; " %>
<h3 class="title">Post edit</h3>
<div class="container">
  <%= render 'layouts/massage', obj: @place %>
  <table class="mx-auto border-light">
    <%= form_with model: @place, local:true do |f| %>
    <tr>
      <td class="far fa-image", width="100">Picture</td>
      <td><%= f.file_field :image %></td>
    </tr>
    <tr>
       <td class="fas fa-vihara">Place</td>
       <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td class="fas fa-map-pin">Address</td>
      <td colspan="3"><%= f.text_field :address, :size=>"70" %></td>
    </tr>
    <tr>
      <td class="fas fa-feather">Capitan</td>
      <td><%= f.text_area :capitan, :size=>"70x5" %></td>
    </tr>
  </table>
  <div class="text-center">
    <%= link_to :back do %>
     <button>Back</button>
    <% end %>
    <button><%= f.submit 'Post' %></button>
    <button><%= link_to "Delete", place_path(@place), method: :delete, "data-confirm" => "本当に削除しますか?" %></button>
    <% end %>
  </div>
</div>