<% breadcrumb :place_new %>
<%= breadcrumbs separator: " &rsaquo; " %>
<h3 class="title">Post new</h3>
<div class="container">
 <%= render 'layouts/massage', obj: @place %>
 <%= form_with model: @place, local:true do |f| %>
</div>
 <table class="mx-auto border-light">
   <tr>
    <td class="far fa-image", width="100">Picture</td>
    <td><%= f.file_field :image %></td>
   </tr>
   <tr>
    <td class="fas fa-vihara">Place</td>
    <td><%= f.text_field :name %></td>
   </tr>
   <tr>
    <td class="fas fa-map-pin">Address</td>
    <td><%= f.text_field :address, :size=>"70" %></td>
   </tr>
   <tr>
    <td class="fas fa-feather">Capitan</td>
    <td><%= f.text_area :capitan, :size=>"70x5" %></td>
   </tr>
 </table>
 <div class="text-center">
    <button><%= f.submit 'Post' %></button>
    <%= link_to :back do %>
     <button>Back</button>
    <% end %>
  <% end %>
 </div>
</div>