<h3>Place in details</h3>
<div class="place_show">
  <p>投稿画像:<%= attachment_image_tag(@place, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg") %></p>
  <p>観光地名:<%= @place.name %></p>
  <!--いいね機能-->
  <% if @place.liked_by?(current_user) %>
  <!--いいね削除-->
    <p>
      <%= link_to place_likes_path(@place), method: :delete do %>
        ♥<%= @place.likes.count %>
       <% end %> 
    </p>
  <!--いいねする-->
  <% else %>
    <p>
      <%= link_to place_likes_path(@place), method: :post do %>
        ♡<%= @place.likes.count %>
      <% end %> 
    </p>
  <% end %>
  <p>住所:<%= @place.address %></p>
  <p>ユーザー名:<%= @place.user.name %></p>
  <p>場所説明:<%= @place.capitan %></p>
  <p>投稿日時:<%= @place.created_at.strftime('%Y/%m/%d') %></p>
  <% if @place.user == current_user %>
    <button><%= link_to "Back", :back %></button>
    <button><%= link_to "Edit", edit_place_path(@place) %></button>
    <button><%= link_to "Delete", place_path(@place), method: :delete, "data-confirm" => "本当に削除しますか?" %></button>
  <% end %>
</div>
<!--コメント表示-->
<div class="comment">
  <p>コメント<%= @place.place_comments.count %>件</p>
  <% @place.place_comments.each do |place_comment| %>
    <%= attachment_image_tag(place_comment.user, :image, :fill, 100, 75, format: 'jpeg', fallback: "no_image.jpg") %>
    <%= link_to user_path(place_comment.user) do %>
      <%= place_comment.user.name %>
    <% end %>
    <%= place_comment.created_at.strftime('%Y/%m/%d') %>
    <%= place_comment.comment %>
    <% if place_comment.user == current_user %>
    <a class="delete">
      <%= link_to "delete", place_place_comment_path(place_comment.place,place_comment), method: :delete, "data-confirm" => "本当に削除しますか?" %>
    </a>
    <% end %>
  <% end %>
</div>
<%= paginate @place_comments %>
<!--コメント投稿-->
<% if user_signed_in? %><br>
  <div class="new_comment">
    <%= form_with(model:[@place, @place_comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %><br>
      <button><%= f.submit "送信する" %></button>
    <% end %>
  </div>
 <% end %>