<h3>詳細ページ</h3>
<div class="place_show">
  <p>投稿画像:<%= attachment_image_tag(@place, :image, :fill, 150, 100, format: 'jpeg', fallback: "no_image.jpg") %></p>
  <p>観光地名:<%= @place.name %></p>
  <p>住所:<%= @place.address %></p>
  <p>ユーザー名:<%= @place.user.name %></p>
  <p>場所説明:<%= @place.capitan %></p>
  <p>投稿日時:<%= @place.created_at.strftime('%Y/%m/%d') %></p>
  <% if @place.user == current_user %>
    <button><%= link_to "Back", :back %></button>
    <button><%= link_to "Edit", edit_place_path(@place) %></button>
    <button><%= link_to "Delete", place_path(@place), method: :delete, "data-confirm" => "本当に削除しますか?" %></button>
  <% end %>
</div>
