<header class="bg-white text-dark pt-1 pb-">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpg', size: '120x120') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'border rounded nav-link text-dark mr-4' %>
          </li>
          <li class="nav-item">
            <%= link_to '投稿フォーム', new_place_path, class: 'border rounded nav-link text-dark mr-4' %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', user_path(current_user.id), class: 'border rounded nav-link text-dark mr-4' %>
          </li>
          <li class="nav-item">
            <%= link_to '場所一覧', places_path, class: 'border rounded nav-link text-dark mr-4' %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'border rounded nav-link text-dark mr-4' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'border rounded nav-link text-dark mr-4' %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>