<header class="bg-white text-dark pt-1 pb-1">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpg', size: '120x120') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt border rounded nav-link text-dark mr-4' %>
            </li>
            <li class="nav-item">
              <%= link_to 'New post', new_place_path, class: 'fas fa-plus-square border rounded nav-link text-dark mr-4' %>
            </li>
            <li class="nav-item">
              <%= link_to 'My page', user_path(current_user.id), class: 'fas fa-user border rounded nav-link text-dark mr-4' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Place', places_path, class: 'fas fa-map-marker-alt border rounded nav-link text-dark mr-4' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: 'fas fa-user-plus border rounded nav-link text-dark mr-4' %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: 'fas fa-sign-in-alt border rounded nav-link text-dark mr-4' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Place', places_path, class: 'fas fa-map-marker-alt border rounded nav-link text-dark mr-4' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>